/* 
    Document   : daziamoore.css
    Created on : Oct 14, 2011, 3:23:01 PM
    Author     : cbarnette
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/************************/
/***  Structural CSS  ***/
/************************/

b, p, h1,h2,h3{
    font-family: arial;
}

#main{
    margin: 0px;
}

#top{
    width: 100%; 
    height: 100px;
    color: #fff; 
    background-color: #000;
    text-align: center;
    display: block;
    font-family: arial;
    font-size: 10pt;
    font-weight: bold;
}


#content{
    height: 100%;
    padding: 20px;
    background-color: #fff;
    display: block;
    font-family: arial;
    font-size: 9pt;
    background-image: url(../images/content_background.jpg);
    background-position:  center;
    margin: 0px;
    display: block;
}
#playerbar{
    height: 32px;
    width: 100%;
    vertical-align: middle;
    background-color: #000;
    border-bottom: 1px solid #adadad;
    display: block;
    padding-top:3px;
}

#toolbar{
    height: 61px;
    text-align: center;
    vertical-align: middle;
    background-color: #1f1f1f;
    background-image: url(../images/toolbar_bg.jpg);
    background-repeat: repeat-x;
    border-bottom: 1px solid  #141414;
    border-top: 4px solid #696969;
    display: block;
}


#footer{
    color: #c0c0c0;
    width: 100%;
    height: 20px;
    font-family: arial;
    font-size: 9pt;
    text-align: center;
    background-color: #282828;
    border-top: 1px solid #696969;
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
}


/************************/
/*  Look and Feel CSS   */
/************************/

#container{
    width: 800px;
    height: 100%;
    vertical-align: top;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    padding: 2px;
    display: block;
}

#container_main{
    width: 800px;
    height: 480px;
    vertical-align: top;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.p{
    display: inherit;
    width: 100%;
}

#menuitem{
    font-family: arial;
    font-size: 12pt;
    text-decoration: none;
    color: #ddd;
    text-align: center;
    vertical-align: top;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 20px;
    display:  inline-block;
    height: 35px;  
}

#menuitem:hover{
    font-family: arial;
    font-size: 12pt;
    text-decoration: none;
    text-align: center;
    color: #e30000;
    vertical-align: top;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 20px;
    display:  inline-block;
    height: 35px; 
}


#message{
    text-align: left;
    font-family: arial;
    font-size: 10pt;
    font-weight: bold;
    color: #8d8d8d;   
    margin: auto;
}

#shot{
    float: right;
    margin-left: 20px;
    border: 2px solid #000;
}

#dewplayer{
    float: right;
}

.body{
    margin: 0px;
}

/******************/
/****  Splash  ****/
/******************/

#splashbar{
    position: absolute;
    top: 530px;
    height: 100px;
    border-top: 1px solid #c0c0c0;
    width: 100%;
    background: #fff;
    text-align: center;
}

#splashimage1{
    position: absolute;
    left: 250px;
    top: 13px;
    display: none;
}

#splashimage2{
    position: absolute;
    left: 630px;
    top: 5px;
    display: none;
}
#splashimage3{
    position: absolute;
    left: 460px;
    top: 50px;
    display: none;
}




#biosplash1{
    position: fixed;
    vertical-align: bottom;
    left: 0px;
    top: 15px;
    display: none;
}


#about{
    position: absolute;
    top: 12px;
    left: 430px;
}

/*
#bio{
    background-image: url(../images/biography-splash2.png);
    background-position: 1015px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

#biotext{
    font-family: arial;
    font-size: 9pt;
    width: 700px;
    position: absolute;
    left: 450px;
    top: 110px;
    padding-left: 10px;
    padding-right: 10px;
    height: 300px; 
    margin-top: 2px;
    color: #282828;
}

#splashbutton{
    width: 300px;
    height: 175px;
    display: block;
    background-image: url(../images/splashbutton.png);
    background-repeat: no-repeat;
    background-position: center;
}

#splashbutton:hover{
    width: 300px; 
    height: 175px;
    display: block;
    background-image: url(../images/splashbutton-over.png);
    background-repeat: no-repeat;
    background-position: center;
}
/*
#splashbutton a{
    width: 1200px;
    text-decoration: none;
    display: table-cell;
    height: 110px;
}

#splashbutton a:hover{
    width: 134px;
    text-decoration: none;
    display: table-cell;
    height: 60px;
    
}
*/

#mediaplayer1, #mediaplayer2{
    border: 1px dotted #000; 
}

#contactme{
    background-image: url(../images/contact-me.png);
    background-position: 335px;
    background-repeat: no-repeat;
}

#video-header{
    background-image: url(../images/videos.png);
    height: 200px;
    width: 100%;
    left: 5px;
    position: absolute;
    top: 10px;
    background-repeat: no-repeat;
    background-position: 350px;
    display:block;
}

#socialmedia{
    color: #fff;
    float: right;
}

#top-title{
    font-family: arial;
    font-size: 15pt;
    text-align: center;
    vertical-align: top;
    padding-top: 3px;
    padding-left:120px;
    color: #696969;
}

#socialmedia a{
    text-decoration: none;
}

#splash{
    background-image: url(../images/splash-bg.jpg);
    background-repeat: repeat-x;
    margin: 0px;
}
#splash-content{
    background-image: url(../images/daziamoore-splash.jpg);
    background-repeat: repeat-x;
    margin: 0px;
    height: 543px;
    width: 1265px;
}

#media{
    width: 100%;
}

#mediatext{
    font-family: arial;
    font-size: 9pt;
    background-color:  #c0c0c0;
    border: 1px dotted #8d8d8d;
    padding: 10px;
    width: 500px;
}

#mediabox{
    width: 250px;
    padding: 5px; 
    text-align: center;
    vertical-align: top;
}

#mediabox img{
    border: 1px solid #000;
}